  <!DOCTYPE html>
  <html LANG ="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>Football Archive</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/materialize.min.css') }}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename = 'images/title.jpg') }}" ></div>
      </div>

      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center orange-text">Titles</h1>
          <div class="row center">
            <h5 class="header col s12 light">The glory your favorite club is fighting for...</h5>
          </div>
          <br><br>

        </div>
      </div>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
     <div class="row">
         {% for n in data %}
        <div class="col s12 m4">
         
          <div class="card small">

          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="static/images/{{n[2]}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{n[0]}}</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{n[0]}}<i class="material-icons right">close</i></span>
            <p>Inception :  {{n[1]}}</p>
          </div>          
          </div> 
         
        </div>
         {% endfor %}
        </div>

    </div>
    <br><br>

  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="{{ url_for('static', filename = 'images/parallax2.jpg') }}"></div>
  </div>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Look at us</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job.</p>
        </div>

        <div class="right col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>

            <li><a href="#!"><i class="small material-icons">perm_phone_msg</i></a></li>
            <li><a href="#!"><i class="small material-icons">person_pin</i></a></li>
            <li><a href="#!"><i class="small material-icons">location_on</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">annsinsu & ek_kaala_ladka</a>
      </div>
    </div>
  </footer>
       <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
      <script>    $(document).ready(function(){
      $('.parallax').parallax();
    });</script>
    </body>
  </html>